<!--Method 1 :using [(ngModel)] -->
<!-- See video for method 1 : https://coursetro.com/posts/code/108/Angular-5-Interpolation,-Property-Binding-&-Event-Binding-Tutorial -->
<!-- <span> userid:
    <input type="text" [(ngModel)]="userid"> </span>
<span> name:
    <input type="text" [(ngModel)]="name">
</span>
<span> technology:
    <input type="text" [(ngModel)]="technology">
</span>
<span>
    <button (click)="onChange()">Submit</button>
</span> -->

<!-- Method 2: using template refernce -->
<!-- See video for method 2
Also refer : C:\Users\Ravi\Desktop\HTML\Angular : childtoparent recording
 -->
<span> userid:
        <input type="text" #ref1> </span>
    <span> name:
        <input type="text" #ref2>
    </span>
    <span> technology:
        <input type="text" #ref3>
    </span>
    <span>
        <button (click)="onChange(ref1.value,ref2.value,ref3.value)">Submit</button>
    </span>
    
<br>

<br>
<br>
<table width="500px" style="border: 1px solid black; ">
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Technology
        </th>
    </tr>
    <td>
        <tr *ngFor="let key of useridlist">

            {{key}}
        </tr>
    </td>
    <td>
        <tr *ngFor="let key of namelist">

            {{key}}
        </tr>
    </td>
    <td>
        <tr *ngFor="let key of technologylist">

            {{key}}
        </tr>
    </td>

</table>

<!-- template refernce variable eg -->
<!-- 
<input type="text" #refe><br/>
<button (click)="customMethod()">Add</button>
<p>{{custom}}</p> -->